/*
    Animation of the top border of the page. Used on the body tag.
*/
/* @keyframes borderChange {
    0% {border-color: #3B5667;}
    25% {border-color: #ff0000;}
    50% {border-color: #1e9ec2;}
    75% {border-color: #ff8000;}
    100% {border-color: #007733;}
} */


.App-header {
  padding: 2rem 0;
}

.App-body {
  margin: 0 auto;
  width: 70%;
}

.App-title {
  font-size: 2rem;
}


h1, h2, h3, h4, h5, h6, p, body, a, img, ul, ol, blockquote, pre {
    margin: 0; padding: 0; border: 0;
}

body {
    font-size: 1rem;
    line-height: 1.52;
    background-color: #f8f8f8;
    text-rendering: optimizeLegibility;
    animation: borderChange 80s infinite alternate;
    border-top: 0.5rem solid #45CEEF;
}

body, a {
    color: #171717;
}

a:hover {
    color: #ff8000;
    text-decoration: underline;
}

p {
    margin-bottom: 1.52em;
}

pre {
    font-size: 0.9rem;
    overflow: auto;
    background: #272822;
    border: 1px dashed #d2d2d2;
    border-radius: 0.25rem;
    margin-bottom: 1.8rem;
    padding: 1em;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.43;
    margin-top: 1rem;
}

h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.25rem;
}

ol, ul {
    margin: 0 1.4rem 1.4rem 4rem;
}

li {
    margin-bottom: 0.5rem;
}

blockquote {
    margin: 1.2rem 3rem;
    padding-left: 1rem;
    font-style: italic;
}

hr {
    border: 0;
    border-top: 1px dashed #d2d2d2;
    height: 0;
    margin: 1.6rem 0;
}

img {
    border: solid #333 1px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
